.responsive {
  width: 100%;
  height: auto;
}


.header {
  padding: 10px;
  text-align: center;
  background: green;
  color: white;
  font-size: 30px;
	font-family: 'Sree Krushnadevaraya', serif;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 22px;
  }

